*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar */
.nav{
  background-color: #C1B79F;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.word{
  color: #ffc755;
  font-size: 18px;
}


.site-title{
  font-size: 30px;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav h1{
  color: #646464;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav a:hover{
  color: #F6F3C1;
  text-decoration: none;
}

.nav a:focus{
  color: #FFE8A5;
  text-decoration: none;
}

.word:hover{
  color: peru;
  text-decoration: none;
}


.home_title {
  color: #fff;
}

.home_title:hover {
  color: #ffc755;
}

.site-image {
  padding-top: 5px;
}
/* .nav li.active{
  background-color: beige;
}

.nav li:hover{
  background-color: lightyellow;
} */

/* Footer */
.footer {
  background-color: #8d7d7e;
  color:#ffc755;
}

.footer-title{
  font-size: 2rem;
  color:#ffc755;
  gap: 1rem;
  margin-left: 160px;
  font-weight: bold;
}

.footer h4{
  color: white;
  font-size: 1rem;
}

.footer p{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.footer-item {
  margin-left: 30px;
}
.footer-text {
  margin-left: -100px;
}


/* Home */

/* FEATURES */
.fea{
  background-color: #f6f3c1;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.fea h1{
  color: #646464;
  font-size: 30px;
}

/* RESERVATION PROCESS */

.rp{
  background-color: white;
  display: flex;
  justify-content:center;
}

.rp h1{
  color: #646464;
  font-size: 30px;
}

.rp h3{
  color: #646464;
  font-size: 15px;
}

.rp_Reserve{
  background-color: white;
  display: flex;
  border-radius: 20px;
  justify-content:center;
}

.rp_Reserve h1{
  color: #646464;
  font-size: 30px;
}

.rp_Reserve h3{
  color: #646464;
  font-size: 15px;
}

.form-title {
  width: 100px;
  float:left;
  vertical-align: middle;
  text-align: center;
}

.form-optiontitle {
  width: 200px;
  float:left;
  margin-left: -20px;
  margin-right: -20px;
}
.form-right {
  margin-left: 70px;
}
.input-style {
  width: 200px;
  float:left;
}
.email-style {
  width: 570px;
  float:left;
}

.select-style {
  float:left;
}
.loc-style {
  float:left;
}

.addr-style {
  padding-left: 100px;
}

.sizetime-style {
  width: 200px;
}


.form-total {
  float:left;
  vertical-align: middle;
  text-align: left;
}



/* lg(1000以上) */
@media (min-width: 992px) {
  .form-right {
    margin-left: 70px;
  }
}

/* 992-1000 */
@media (max-width: 1000px) {
  .form-group {
    width:calc(100%);
    margin-bottom: 20px;
  }
  .form-right {
    margin-left: 0;
  }
  .formh3 {
    width:calc(100%);
  }
}
/* xl(750-992) */
/* @media (max-width: 992px) {
  .form-title {
    background-color: aqua;
  }
} */

/* 750/992/1000 */
/* width:calc(100% - 100px); */

/* @media only screen and (max-width:992px) {
  .service_info_lifeQrcodeWorkroom__2he0p {
    top: 9999px
  }
  .detail_leftColumn {
    display: none;
  }
} */

.work {
  width: 100%;
  display:flex;
  align-self: center;
  flex:1 1 18rem;
  margin: 0.5rem ;
  border: 5px;
  justify-content: space-around;
}

.NewsItem {
  background-color: #FFF;
  box-shadow: 3px 0 5px rgba(0, 0, 0, .1);
}
.toppic {
  width: 100%;
  display:flex;
  align-self: center;
  flex:1 1 18rem;
  margin: 0.5rem ;
  border: 5px;
  justify-content: space-around;
}

.process {
  display:flex;
  align-self: center;
  flex:1 1 18rem;
  margin: 0.5rem ;
  border: 5px;
  justify-content: space-around;

}

.news{
  background-color: #ffe8a5;
  display: flex;
  justify-content:center;
  
}

.news h1{
  color: #646464;
  font-size: 30px;
}

.p-4 h5{
  color: #3E3E3E;
  font-size: 20px;
    display: flex;
  justify-content: space-around;

}

.p-4 h3{
  color: #646464;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

}

.p-4 h4{
  color: red;
  font-size: 18px;
  display: flex;
  line-height: 25px;
}

.p-4 h1{
  color: #3E3E3E;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  font-weight:bold;

}

.p-4 p{
  color: #3E3E3E;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}


.p-2 h5{
  color: #ffc755;
  font-size: 20px;
    display: left;
  justify-content: space-around;

}

.p-2 h2{
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.p-2 h4{
  color: #ffc755;
  font-size: 40px;
  display: flex;
}

.p-2 h1{
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.p-2 p{
  color: #3E3E3E;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

/* .process_image {
  width: 100%;
  height: 100%;
  align-self:center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
} */

.process_text {
  margin-top: -50px;
}